{% extends "layout.html" %}
{% block body %}

<div class="container">

    <form id="event_form" action="{{ url_for('create_event') }}" method="POST">
       
        {# Event Title: title #}
        <div class="input-field col s12">
            <label for="title">Event Title</label>
            <input id="title" type="text" name="title" required>
        </div>

        {# Event Type: type #}
         <div class="row">
             <div class="input-field col s12">
                <select required form="event_form" name="type">
                      <option value="" disabled selected class="grey-text text-lighten-1"> Choose Meeting Type</option>
                      <option value="coffee">Coffee (15-30 minutes)</option>
                      <option value="lunch">Lunch (30-60 minutes)</option>
                      <option value="meeting">Open Meeting (>60 minutes)</option>
                 </select>
                <label>Meeting Type</label>
            </div>

            <script>
                $(document).ready(function() {
                    $('select').material_select();
                });
            </script>

        </div>

        <div class="row">

            <div class="col s4">
                <label for="date" class="active">Date</label>
                <input id="date" type="date" class="datepicker" placeholder="mm/dd/yyyy" name="date" required>
                <script>
                    $('.datepicker').pickadate({
                        selectMonths: true,
                        selectYears: 15
                    });
                </script>
            </div>

            <div class=" col s4">
                <label for="time" class="active">Time</label>
                <input id="time" type="time" class="timepicker" name="time" required>

                <script >
                    $('.timepicker').pickatime({
                        default: 'now', // Set default time
                        fromnow: 0, // set default time to * milliseconds from now (using with default = 'now')
                        twelvehour: false, // Use AM/PM or 24-hour format
                        donetext: 'OK', // text for done-button
                        cleartext: 'Clear', // text for clear-button
                        canceltext: 'Cancel', // Text for cancel-button
                        autoclose: false, // automatic close timepicker
                        ampmclickable: true, // make AM PM clickable
                        aftershow: function(){} //Function for after opening timepicker
                    });
                </script>
            </div>

            <div class="col s4">
                <label for="num">Max Availability</label>
                <input id="num" type="number" name="max_participants" required>
            </div>

        </div>

        {# Description: description #}
        <div class="row">
            <div class="input-field col s12">
                <label for="textarea">Description</label>
                <textarea id="textarea" class="materialize-textarea" name="description"></textarea>
            </div>
        </div>

        {# Submit Button #}
        <button class="btn waves-effect waves-light blue lighten-2" type="submit" name="action">Create Event
            <i class="material-icons right">send</i>
        </button>
    </form>


</div>


    


{% endblock %}