{% extends "layout.html" %}
{% block body %}
<script>
    $(document).ready(function(){
      $('.carousel').carousel();
    });
</script>

    {% for event in events %}
        <p>{{ event.host }}</p>
        <p>{{ event.title }}</p>
        <p>{{ event.type }}</p>
        <p>{{ event.date }}</p>
        <p>{{ event.time }}</p>
        <p>{{ event.description }}</p>
        <p>{{ event.max_participants }}</p>
    {% endfor %}

    <style>
    .carousel-item{
        min-height: 350px;
        min-width: 400px;
    }
    </style>


<div class="container">
    <h4 class="center-align">Your Events</h4>
<div class="carousel" data-indicators="true" style="min-height:500px">
    <div class="carousel" data-indicators="true">

        {%  for n in range(5) %}
            <a class="carousel-item card">
                <div class="card-content">
                     <span class="card-title activator grey-text text-darken-4">Event Title<i class="material-icons right">more_vert</i></span>
                    <p><b>Type: </b></p>
                    <p><b>Description:</b></p>
                    <p><b>Date/Time:</b></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Event Title<i class="material-icons right">close</i></span>
                    <p><b>Description:</b> Description about the event goes here.</p>
                    <p><b>Date/Time:</b></p>
                    <p><b>Host:</b></p>
                    <p><b>Availability:</b></p>
                </div>
            </a>
        {%  endfor %}

  </div>
{% endblock %}

