<!doctype html>
<title>Research Demo</title>
<head>
    <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>

    <!-- Materialize CSS: Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

    <!-- Materialize CSS: Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png')}}">

</head>

<nav class="blue lighten-2">
    <div class="nav-wrapper">
        <a class="right" style="padding-right:25px; font-size:36px"> Beta </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if not session.username %}
                <li><a href="{{ url_for('register') }}">Register</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
                <li><a href="{{ url_for('profile', username=session.username) }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block body %}{% endblock %}