{% extends "layout.html" %}
{% block body %}
    <br/><br/>
    <div class="container">
        <h3>Login</h3>
        <form class="col s12" action="{{ url_for('login') }}" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" type="email" name="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" type="password" name="password" class="validate" ">
                    <label for="password">Password</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light blue lighten-2" type="submit" name="action">Login
                <i class="material-icons right">lock_open</i>
            </button>
        </form>
    </div>



{% endblock %}