{% include 'sentiment_history_search.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
            {% for history_obj in data %}
                <p>One article mentioning <strong>{{history_obj.company}}</strong> was posted <strong>{{history_obj.daysAgo}}</strong> days ago with sentiment score <strong>{{history_obj.sentiment}}</strong></p>
            {% endfor %}

            {% if not data %}
                <p>No data found</p>
            {% endif %}
            </div>
        </div>
    </div>

<div>
    <div id="ct-chart" style="height:500px" class="ct-chart"></div>
    <div id="ct-chart2" style="height:500px" class="ct-chart2"></div>
</div>


<script>
    var data =  {{data|tojson|safe}};

    var formatted_data = []

    data.forEach(function (ele) {
        var point = { x: ele.daysAgo, y: ele.sentiment }
        formatted_data.push( point )
    });

    var chart = new Chartist.Line('.ct-chart', {
        labels: [],
        series: [
            formatted_data
        ]
    }, {
        fullWidth: true,
        chartPadding: {
            right: 10
        },
        showArea: true

    });

    var good = 0
    var neutral = 0;
    var bad = 0;

    var total = data.length;

    data.forEach(function (ele) {
        if ( ele.sentiment > 1/3 ){
            good++;
        } else if ( ele.sentiment <= 1/3 && ele.sentiment > -1/3 ){
            neutral++;
        } else if ( ele.sentiment <= -1/3 ){
            bad++;
        }
    });

    new Chartist.Pie('.ct-chart2', {
    series: [good*100/total, neutral*100/total, bad*100/total]
    }, {
        donut: true,
        donutWidth: 60,
        startAngle: 270,
        total: 200,
        showLabel: false
    });
</script>


{% endblock content %}